/.idea/
/.vscode/
/*.osm.pbf
/*.pmtiles

/prepare/*
!/prepare/.keep

/tiles/*
!/tiles/.keep

/fonts/

/web/node_modules/

/osrm/data/

/nominatim/postgres/
/nominatim/data/

/nginx_cache/
/nginx_logs/
